graphs {
  graph_id: 91282072
  priority: 0

  engines {
    id: 467
    engine_name: "RFImagePreProcess"
    side: DEVICE
    thread_num: 1
    so_name: "./libRFPreProcess.so"
    ai_config {

      items {
        name: "point_x"
        value: "-1"
      }

      items {
        name: "point_y"
        value: "-1"
      }

      items {
        name: "crop_width"
        value: "-1"
      }

      items {
        name: "crop_height"
        value: "-1"
      }

      items {
        name: "self_crop"
        value: "1"
      }

      items {
        name: "resize_width"
        value: "300"
      }

      items {
        name: "resize_height"
        value: "300"
      }

      items {
        name: "dump_value"
        value: "0"
      }

      items {
        name: "project_name"
        value: ""
      }

      items {
        name: "dvpp_parapath"
        value: ""
      }
    }
  }

  engines {
    id: 616
    engine_name: "RFMindInferenceEngine"
    side: DEVICE
    thread_num: 1
    so_name: "./libRFInferenceEngine.so"
    ai_config {

      items {
        name: "model_path"
        value: "/home/HwHiAiUser/HIAI_PROJECTS/workspace_mind_studio/HRobot/road_following_model_ssd.om"
      }

      items {
        name: "init_config"
        value: ""
      }

      items {
        name: "passcode"
        value: ""
      }

      items {
        name: "dump_list"
        value: ""
      }

      items {
        name: "dvpp_parapath"
        value: ""
      }

      items {
        name: "batch_size"
        value: "1"
      }
    }
  }

  engines {
    id: 301
    engine_name: "RFPostProcess"
    side: HOST
    thread_num: 1
    so_name: "./libRFPostProcess.so"
    ai_config {

      items {
        name: "output_name"
        value: "detection_out"
      }
    }
  }

  connects {
    src_engine_id: 467
    src_port_id: 0
    target_engine_id: 616
    target_port_id: 0
  }

  connects {
    src_engine_id: 616
    src_port_id: 0
    target_engine_id: 301
    target_port_id: 0
  }
}
