graphs {
  graph_id: 86391820
  priority: 0

  engines {
    id: 767
    engine_name: "CollisionPreProcess"
    side: DEVICE
    thread_num: 1
    so_name: "./libCollisionPreProcess.so"
    ai_config {

      items {
        name: "point_x"
        value: "-1"
      }

      items {
        name: "point_y"
        value: "-1"
      }

      items {
        name: "crop_width"
        value: "-1"
      }

      items {
        name: "crop_height"
        value: "-1"
      }

      items {
        name: "self_crop"
        value: "1"
      }

      items {
        name: "resize_width"
        value: "224"
      }

      items {
        name: "resize_height"
        value: "224"
      }

      items {
        name: "dump_value"
        value: "0"
      }

      items {
        name: "project_name"
        value: ""
      }

      items {
        name: "dvpp_parapath"
        value: ""
      }
    }
  }

  engines {
    id: 728
    engine_name: "CollisionInferenceEngine"
    side: DEVICE
    thread_num: 1
    so_name: "./libCollisionInferenceEngine.so"
    ai_config {

      items {
        name: "model_path"
        value: "/home/HwHiAiUser/HIAI_PROJECTS/ascend_workspace/cameraservice/collision_avoidance_model.om"
      }

      items {
        name: "init_config"
        value: ""
      }

      items {
        name: "passcode"
        value: ""
      }

      items {
        name: "dump_list"
        value: ""
      }

      items {
        name: "dvpp_parapath"
        value: ""
      }

      items {
        name: "batch_size"
        value: "1"
      }
    }
  }

  engines {
    id: 284
    engine_name: "CollisionPostProcess"
    side: HOST
    thread_num: 1
    so_name: "./libCollisionPostProcess.so"
    ai_config {

      items {
        name: "output_name"
        value: "prob"
      }
    }
  }

  connects {
    src_engine_id: 767
    src_port_id: 0
    target_engine_id: 728
    target_port_id: 0
  }

  connects {
    src_engine_id: 728
    src_port_id: 0
    target_engine_id: 284
    target_port_id: 0
  }
}			
