graphs {
  graph_id: 1984830907
  priority: 0

  engines {
    id: 280
    engine_name: "RoadObjectPreProcess"
    side: DEVICE
    thread_num: 1
    so_name: "./libRoadObjectPreProcess.so"
    ai_config {

      items {
        name: "point_x"
        value: "-1"
      }

      items {
        name: "point_y"
        value: "-1"
      }

      items {
        name: "crop_width"
        value: "-1"
      }

      items {
        name: "crop_height"
        value: "-1"
      }

      items {
        name: "self_crop"
        value: "1"
      }

      items {
        name: "resize_width"
        value: "300"
      }

      items {
        name: "resize_height"
        value: "300"
      }

      items {
        name: "dump_value"
        value: "0"
      }

      items {
        name: "project_name"
        value: ""
      }

      items {
        name: "dvpp_parapath"
        value: ""
      }
    }
  }

  engines {
    id: 888
    engine_name: "RoadObjectInferenceEngine"
    side: DEVICE
    thread_num: 1
    so_name: "./libRoadObjectInferenceEngine.so"
    ai_config {

      items {
        name: "model_path"
        value: "/home/HwHiAiUser/HIAI_PROJECTS/ascend_workspace/cameraservice/road_object_detection_deploy.om"
      }

      items {
        name: "init_config"
        value: ""
      }

      items {
        name: "passcode"
        value: ""
      }

      items {
        name: "dump_list"
        value: ""
      }

      items {
        name: "dvpp_parapath"
        value: ""
      }

      items {
        name: "batch_size"
        value: "1"
      }
    }
  }

  engines {
    id: 483
    engine_name: "RoadObjectPostProcess"
    side: HOST
    thread_num: 1
    so_name: "./libRoadObjectPostProcess.so"
    ai_config {

      items {
        name: "output_name"
        value: "detection_out"
      }
    }
  }

  connects {
    src_engine_id: 280
    src_port_id: 0
    target_engine_id: 888
    target_port_id: 0
  }

  connects {
    src_engine_id: 888
    src_port_id: 0
    target_engine_id: 483
    target_port_id: 0
  }
}			
